body{
  background-image: url("https://img.freepik.com/free-vector/background-seamless-pattern-vector-with-cute-fluffy-cloud_53876-116803.jpg?semt=ais_hybrid&w=740&q=80");
  background-size: 100%
}

html{
  color: rgb(70, 54, 216);
}

#aisu-result {
  background: rgb(200, 217, 255);
  border: 5px solid rgb(70, 54, 216);
  font-size: 24px;
  min-height: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: fit-content;
  margin: auto;
  padding: 10px;
  font-family: "Nunito";
}

#born-result {
  background: rgb(175, 180, 255);
  border: 5px solid rgb(70, 54, 216);
  font-size: 24px;
  min-height: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: fit-content;
  margin: auto;
  padding: 10px;
  font-family: "Nunito";
}

#sing-result {
  background: rgb(175, 223, 255);
  border: 5px solid rgb(70, 54, 216);
  font-size: 24px;
  min-height: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: fit-content;
  margin: auto;
  padding: 10px;
  font-family: "Nunito";
}

#dance-result {
  background: rgb(175, 190, 255);
  border: 5px solid rgb(70, 54, 216);
  font-size: 24px;
  min-height: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: fit-content;
  margin: auto;
  padding: 10px;
  font-family: "Nunito";
}

#music-result {
  background: rgb(175, 190, 255);
  border: 5px solid rgb(70, 54, 216);
  font-size: 24px;
  min-height: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: fit-content;
  margin: auto;
  padding: 10px;
  font-family: "Nunito";
}

hr {
  height: 5px;
  background-color: rgb(200, 217, 255);
}

button{
  padding: 10px;
  border-radius: 10px;
  border-color: rgb(70, 54, 216);
  font-family: "Nunito";
  font-weight: bold;
  background-color: rgb(255, 249, 213);
}

img{
  display: block;
  margin: auto;
  border-radius: 20px;
}

h1{
  text-align: center;
  font-family: "Fascinate Inline";
  font-weight: normal;
  font-size: 60px;
}

select{
  font-family: "Nunito";
  padding: 3px;
   border-radius: 10px;
   background-color: white;
}

option{
  background-color: rgb(215, 239, 255);
}

form{
  font-family: "Nunito";
  padding: 3px;
  border-radius: 10px;
  font-size: 20px;
}




